body {
	background-color: #2f4f4f;
}
h1 {
	background-color: rgb(187, 78, 39);
	color: white;
	text-align: center;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 50px;

}

#topBtn button {
	width: 70px;
	height: 50px;
	font-size: 30px;
    border-radius: 10px;
    border: 2px solid coral;
}
#startBtn,
#stopBtn {
	font-size: 30px;
	font-weight: bold;
	color: white;
	border-radius: 25%;
	width: 100px;
	height: 100px;
	border: 5px solid white;
	outline: 5px solid rgb(182, 77, 39);
	cursor: pointer;
}

#startBtn {
	background-image: radial-gradient(#248f8b, #248f8b);
}
#startBtn:hover {
	background-image: radial-gradient(#248f8b, #248f8b);
}
#stopBtn {
	background-image: radial-gradient(rgb(138, 0, 0), red);
	display: none;
}
#stopBtn:hover {
	background-image: radial-gradient(red, rgb(63, 37, 37));
}